In [15]:
print("I have %s apples" %3)
print("rate is %s" % 3.234)
print('rate is %s%%' %1.234)
print("%10s"%"Hi")
print("%-10sJane." %"Hi")
print("%0.4f" %3.141592653589793238462)
print("%8.4f" %3.141592653589793238462)

I have 3 apples
rate is 3.234
rate is 1.234%
        Hi
Hi        Jane.
3.1416
  3.1416

In [17]:
a = "hobby"
a.count('b')

2

In [13]:
a = "Python is best choice"
a.find('i')
a.index('o')

4

In [19]:
a = "Python is best choice"
a.replace('best choice','the best')

'Python is the best'

In [23]:
a = "life is too short"
a.split()

['life', 'is', 'too', 'short']

In [24]:
a = "a:b:c:d"
a.split(":")

['a', 'b', 'c', 'd']

In [29]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [31]:
"I eat {0} apples".format("five")

'I eat five apples'

In [32]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [33]:
number = 3
day = "three"
"I ate {0} apples. So I was sick for {1} days".format(number,day)

'I ate 3 apples. So I was sick for three days'

In [34]:
"I ate{0} apples. So I was sick for {day} days".format(10,day=3)

'I ate10 apples. So I was sick for 3 days'

In [35]:
"{0:<10}".format("hi")

'hi        '

In [36]:
"{0:>10}".format('hi')

'        hi'

In [40]:
"{0:^11}".format('Hello')

'   Hello   '

In [42]:
"{0:=^10}".format('hi')

'====hi===='

In [43]:
"{0:x<10}".format('hi')

'hixxxxxxxx'

In [48]:
x = 3.1415134234
"{0:0.4f}".format(x)

'3.1415'

In [52]:
x = 3.1415134234
"{0:=>10.4f}".format(x)

'====3.1415'

In [56]:
"{{ and }}".format()

'{ and }'

In [62]:
a = [1,2,3]
a[0]
a[0] + a[2]

4

In [63]:
a[-1]

3

In [66]:
a = [1,2,3,['a','b','c']]
a[3]
a[3][1]

'b'

In [67]:
a = [1,2,3,4,5,]
a[0:2]

[1, 2]

In [68]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]
print(b,c)

[1, 2] [3, 4, 5]

In [69]:
a = [1,2,3, ['a','b','c'],4, 5]
a[3][:2]

['a', 'b']

In [72]:
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [73]:
a = [1,2,3]
str(a[2]) + "hi"

'3hi'

In [82]:
a = [1,2,3]
a[2] = 4
print(a)
a[1]
a[1:2] = 'a','b','c'
print(a)

[1, 2, 4]
[1, 'a', 'b', 'c', 4]

In [86]:
a = [1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

In [89]:
a = [1,4,3,2]
a.sort()
print(a)
b = ["d",'a','c','b']
b.sort()
print(b)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']

In [92]:
a = ['a', 'c', 'b']
a.reverse()
print(a)
a.sort()
a.reverse()
print(a)

['b', 'c', 'a']
['c', 'b', 'a']

In [95]:
a= ['a','b','c']
a.index('b')

1

In [102]:
a = [1,2,3]
a.insert(0,4)
a
a.insert(4,4)
print(a)
a.remove(4)
print(a)

[4, 1, 2, 3, 4]
[1, 2, 3, 4]

In [104]:
a = [1,2,3]
a.pop()
3
a

[1, 2]

In [1]:
a = [1,2,3,4,1]
a.count(1)

2

In [5]:
a = [1,2,3]
a.extend([4,5])
a
b= (6,7)
a.extend(b)
a
a += [8,9]
a
a = a + [10,11]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
a = (1,2,3,'a', 'b')
a[1:]
b = (5,6)
a + b

(1, 2, 3, 'a', 'b', 5, 6)

In [12]:
a = {1:"a"}
a[2] = 'b'
a
a['name'] = 'Chivas'
a
del a['name']
a

{1: 'a', 2: 'b'}

In [14]:
a= {'a':1,'b':2}
a['a']
a['b']

2

In [19]:
a = {'name':'pey','phone':'010','birth':"7410"}
a.keys()

dict_keys(['name', 'birth', 'phone'])

In [21]:
for k in a.keys():
    print(k)
list(a.keys())

name
birth
phone

['name', 'birth', 'phone']

In [22]:
a.values()

dict_values(['pey', '7410', '010'])

In [23]:
a.items()

dict_items([('name', 'pey'), ('birth', '7410'), ('phone', '010')])

In [24]:
a.clear()
a

{}

In [25]:
a = {'name':'pey','phone':'010','birth':"7410"}
a.get("name")

'pey'

In [26]:
a.get('phone')

'010'

In [27]:
a.get('hey',"none")

'none'

In [28]:
'name' in a

True

In [29]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [30]:
s2 = set('Hello')
s2

{'H', 'e', 'l', 'o'}

In [36]:
s1 = set([1,2,3])
l1 = list(s1)
l1

[1, 2, 3]

In [37]:
l1[0]

1

In [38]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [39]:
t1[0]

1

In [41]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
print(s1 & s2)

{4, 5, 6}

In [42]:
s1.intersection(s2)

{4, 5, 6}

In [43]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
s1 - s2

{1, 2, 3}

In [47]:
s1.difference(s2)

{1, 2, 3}

In [49]:
s1.add(7)
s1

{1, 2, 3, 4, 5, 6, 7}

In [50]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [59]:
s1 = set([1,2,3])
s1.remove(1)
s1

{2, 3}

In [63]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [64]:
if[]:
    print('True')
else:
    print('false')

false

In [65]:
a= 1
b= 1
a is b

True

In [67]:
import sys
sys.getrefcount(3)
a = 3
sys.getrefcount(3)

709

In [77]:
a,b = ('Python','life')
print(b)
(a,b) = 'python', 'life'
print(a)
[a,b] = ['python', 'life']
print(a)
a = b = '1'
a is b

life
python
python

True

In [78]:
a= 3 
b= 5
a, b = b, a
print(a)
print(b)

5
3

In [86]:
a = 3
b = 3
del(a)

In [87]:
a = [1,2,3]
b = a
a[1] = 4
a is b

True

In [89]:
a= [1,2,3]
b = a[:]
a[1] = 4
a is b
print(a)
print(b)

[1, 4, 3]
[1, 2, 3]

In [96]:
from copy import copy
a = [1,2,3]
b = copy(a)
print(a)
print(b)
a is b

[1, 2, 3]
[1, 2, 3]

False